<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on('message', function (event) {
        console.log(event);
        if (event.type === 'UserJoined') {
            document.body.innerHTML = ''
        } else {
            const p = document.createElement("p");
            p.innerHTML = JSON.stringify(event);
            document.body.appendChild(p)
        }
    });

</script>
