<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on('message', function(msg) {
        console.log(msg)
    });

</script>
