<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="events"></div>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on('message', function (event) {
        console.log(event);
        const $events = document.getElementById('events');
        if (event.type === 'UserJoined') {
            $events.innerHTML = ''
        } else {
            const p = document.createElement("p");
            p.innerHTML = JSON.stringify(event);
            $events.appendChild(p)
        }
    });

</script>
