body {
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

progress {
  width: 1410px;
}

.top-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(500px, max-content);
}

.iteration-stats {
  border-collapse: collapse;
}
.iteration-stats th,
.iteration-stats td{
  border: 1px solid grey;
  padding: 0.5rem;
}

#iterations-stats-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(50px, max-content);
}
.iteration div {
  text-align: right;
  padding: 0 10px;
}
.iteration .iteration-name {
  font-weight: bold;
}
.success {
  border-color: rgb(75, 192, 192);
  background-color: rgba(75, 192, 192, 0.1);
}
.wip {
  border-color: rgb(255, 205, 86);
  background-color: rgba(255, 205, 86, 0.1);
}
.throughput {
  border-color: rgb(54, 162, 235);
  background-color: rgba(54, 162, 235, 0.1);
}
.lead-time {
  border-color: rgb(255, 99, 132);
  background-color: rgba(255, 99, 132, 0.1);
}

#board {
  display: grid;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  height: 60vh;
  overflow: auto;
}

input#iteration-length{
  width: 5em;
}

.column {
  background: #EBECF0;
  padding: 10px;
}

.column.start-column {
  border-left: 1px solid black;
}
.column.queue-column {
  border-left: 1px dashed grey;
}
.column.work-column {
  border-left: 1px solid black;
}
.column.end-column {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.column h2 {
  font-size: 16px;
  margin: 0 0 12px 0;
  height: 2em;
  text-align: center;
}

.column h4 {
  height: 1em;
  color: darkgrey;
  text-align: center;
  width: 100%;
}

#work-container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  height: 60vh;
  overflow: auto;
}

.column.work-column h4:before{
  content: 'ongoing';
}
.column.queue-column h4:before{
  content: 'done';
}

.card {
  position: relative;
  background: #feff9c;
  box-shadow: 1px 1px 2px 1px rgba(9, 30, 66, .25);
  border-radius: 3px;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px;
}

#inbox .move-button {
  visibility: visible;
}
#inbox .move-button:before {
  content: 'Start';
}

.question-container {
  visibility: hidden;
}

.answer {
  position: absolute;
  right: 10px;
  width: 20px;
}
.move-button {
  visibility: hidden;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#workspace {
  width: 300px;
}
#workspace .card {
  width: 180px;
  height: 180px;
}
#workspace .question-container {
  visibility: visible;
}
#workspace .move-button {
  visibility: visible;
}
#workspace .move-button:before {
  content: 'OK'
}

.start-column .card:nth-child(5n+1),
.queue-column .card:nth-child(5n+1),
.end-column .card:nth-child(5n+1){
  z-index: 10;
}
.start-column .card:nth-child(5n+2),
.queue-column .card:nth-child(5n+2),
.end-column .card:nth-child(5n+2){
  transform: rotate(1deg);
  margin-top: -85px;
  z-index: 9;
}
.start-column .card:nth-child(5n+3),
.queue-column .card:nth-child(5n+3),
.end-column .card:nth-child(5n+3){
  transform: rotate(2deg);
  margin-top: -85px;
  z-index: 8;
}
.start-column .card:nth-child(5n+4),
.queue-column .card:nth-child(5n+4),
.end-column .card:nth-child(5n+4){
  transform: rotate(3deg);
  margin-top: -85px;
  z-index: 7;
}
.start-column .card:nth-child(5n+5),
.queue-column .card:nth-child(5n+5),
.end-column .card:nth-child(5n+5){
  transform: rotate(4deg);
  margin-top: -85px;
  z-index: 6;
}

.chart-container {
  width: 400px;
  height: 200px;
}