<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} || The Dot Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/dot-game.js"></script>
  </body>
</html>
