<h1>{{title}}</h1>

<form method="post" action="/games">
  <img src="/img/foodtruck.png" class="img-fluid" alt="image of a food truck">

  <input type="hidden" name="taskNames" value="Order">
  <input type="hidden" name="taskNames" value="Payment">
  <input type="hidden" name="taskNames" value="Preparation">
  <input type="hidden" name="taskNames" value="Packaging">
  <input type="hidden" name="taskNames" value="Customer">

  <button type="submit" class="btn btn-primary">Start game</button>
</form>
