<h1>{{title}}</h1>

<form method="post" action="/games">
  <img src="/img/foodtruck.png" class="img-fluid" alt="image of a food truck">
  <input type="hidden" class="form-control" placeholder="Task name" aria-label="Task 1" id="task-1-name" name="taskNames" aria-describedby="task-1-name"
         value="Order" required>

  <input type="hidden" class="form-control" placeholder="Task name" aria-label="Task 2" id="task-2-name" name="taskNames" aria-describedby="task-2-name"
         value="Payment" required>

  <input type="hidden" class="form-control" placeholder="Task name" aria-label="Task 3" id="task-3-name" name="taskNames" aria-describedby="task-3-name"
         value="Preparation" required>

  <input type="hidden" class="form-control" placeholder="Task name" aria-label="Task 4" id="task-4-name" name="taskNames" aria-describedby="task-4-name"
         value="Delivery">

  <input type="hidden" class="form-control" placeholder="Task name" aria-label="Task 5" id="task-5-name" name="taskNames" aria-describedby="task-5-name"
         value="Customer" required>

  <button type="submit" class="btn btn-primary">Start game</button>
</form>
