<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/games">
    <label>
        Please give your session a name
        <input name="gameId">
        <button>Start a new dot-game</button>
        <fieldset>
            <legend>Number of players</legend>
            <div>
                <input type="radio" id="4-players-radio-button" name="numberOfPlayers" value="4"/>
                <label for="4-players-radio-button">4 Players</label>
            </div>

            <div>
                <input type="radio" id="5-players-radio-button" name="numberOfPlayers" value="5" checked/>
                <label for="5-players-radio-button">5 Players</label>
            </div>

        </fieldset>
    </label>
</form>
