<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/games">
    <label>
        Please give your session a name
        <input name="gameId">
    </label>
    <button>Start a new dot-game</button>
</form>
