<template id="card-template">
    <div class="postit">
        <form>
            <div class="previous-puzzles">
            </div>
            <label class="question-container">
                <em class="question"></em>
                <input class="answer" type="text">
            </label>
            <button class="move-button"></button>
            <button class="reject-button"></button>
        </form>
    </div>
</template>
