<template id="card-template">
    <div class="card">
        <form>
            <label class="question-container">
                <em class="question">1 + 1 =</em>
                <input class="answer" type="text">
            </label>
            <button class="move-button"></button>
            <button class="reject-button"></button>
        </form>
    </div>
</template>
