<template id="card-template">
    <div class="card">
        <label class="question-container">
            <em class="question">1 + 1 =</em>
            <input class="answer" type="text">
        </label>
        <button class="move-button"></button>
    </div>
</template>
