<template id="iteration-stats-template">
    <table class="iteration-stats">
        <tr class="iteration-name">
            <th colspan="2">Iteration</th>
        </tr>
        <tr class="total">
            <th rowspan="3">Finished</th>
            <th>Total</th>
        </tr>
        <tr class="defects">
            <th>Defects</th>
        </tr>
        <tr class="success">
            <th>Success</th>
        </tr>
        <tr class="wip">
            <th colspan="2">WIP</th>
        </tr>
        <tr class="throughput">
            <th colspan="2">Throughput</th>
        </tr>
        <tr class="lead-time">
            <th colspan="2">Lead time</th>
        </tr>
    </table>
</template>
