<div id="iterations-stats-container" class="col">
    <div>
        <div class="iteration-name">&nbsp;</div>
        <div class="total">Total</div>
        <div class="defects">Defects</div>
        <div class="success">Success</div>
        <div class="wip">WIP</div>
        <div class="throughput">Throughput</div>
        <div class="lead-time">Lead Time</div>
    </div>
</div>

<template id="iteration-stats-template">
    <div class="iteration">
        <div class="iteration-name"></div>
        <div class="total">0</div>
        <div class="defects">0</div>
        <div class="success">0</div>
        <div class="wip">0</div>
        <div class="throughput">-</div>
        <div class="lead-time">-</div>
    </div>
</template>
