<div id="container" data-game-id="{{game.gameId}}">
    <h1>The Dot Game</h1>

    <button id="start-iteration">Start Iteration</button>
    <button id="stop-iteration" disabled="disabled">Stop Iteration</button>

    <label>
        Minutes
        <input id="iteration-length" type="text" value="5">
    </label>

    <div class="top-container">
        <div class="chart-container">
            <canvas id="cfd"></canvas>
        </div>

        {{>iteration-stats }}
    </div>

    <div>
        <progress value="" max="" id="progressbar"></progress>
    </div>

    <button id="create-task" disabled="disabled">Create Task</button>


    <div id="board">
        {{#each game.activeColumns}}
            {{>column column=this game=../game}}
        {{/each}}
        <div>
            {{#each game.endColumns}}
                {{>column column=this game=../game}}
            {{/each}}
        </div>
    </div>

</div>

{{>cardtemplate }}
