<div class="container" id="container" data-game-id="{{game.gameId}}">
    <div class="row">
        <div class="col">
            <h1>The Dot Game</h1>
        </div>
        <div class="col">
            <button id="start-iteration">Start Iteration</button>
            <button id="stop-iteration" disabled="disabled">Stop Iteration</button>

            <label>
                Minutes
                <input id="iteration-length" type="text" value="2">
            </label>
        </div>

    </div>

    <div class="row">
        {{>iteration-stats }}

        <div class="col collapse show toggle-chart">
            <p data-bs-toggle="collapse" data-bs-target=".toggle-chart">
                Show chart
            </p>
        </div>

        <div class="col chart-container collapse toggle-chart" data-bs-toggle="collapse" data-bs-target=".toggle-chart">
            <canvas id="cfd"></canvas>
        </div>

    </div>

    <div class="row">
        <progress value="" max="" id="progressbar"></progress>
    </div>

    <div id="board" class="row">
        {{#each game.activeColumns}}
            {{>column column=this game=../game}}
        {{/each}}
        <div class="last-column">
            {{#each game.endColumns}}
                {{>column column=this game=../game}}
            {{/each}}
        </div>
    </div>

</div>

{{>cardtemplate }}
