<div class="container" id="container" data-game-id="{{game.gameId}}">
    <h1>Join this game!</h1>
    <div class="row">
        <a href="{{linkForParticipants}}" target="_blank">
            <div id="qrcode"></div>
        </a>
    </div>
    <div class="row">
        <div class="players"></div>
        <a href="/games/{{game.gameId}}">Go to game</a>
    </div>
</div>


<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    new QRCode("qrcode").makeCode('{{linkForParticipants}}');
</script>

{{>playertemplate }}
