<div id="container" data-game-id="{{game.gameId}}">
    <h1>Join this game!</h1>
    <a href="{{linkForParticipants}}" target="_blank">
        <div id="qrcode"></div>
    </a>

    <div class="players"></div>

    <a href="/games/{{game.gameId}}">Go to game</a>
</div>


<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    new QRCode("qrcode").makeCode('{{linkForParticipants}}');
</script>
