<div class="container" data-game-id="{{work.gameId}}">
    <h1>{{work.work.title}}</h1>

    <div class="row">
        <progress value="" id="progressbar"></progress>
    </div>

    <div class="row">
        <div id="workspace" class="col">
            <h2>Workspace</h2>
            <button id="create-task" class="btn btn-primary" disabled="disabled">Create Task</button>
        </div>

        <div id="outbox" class="wait-column col" data-column-id="{{work.work.columnId}}">
            <h2>Outbox</h2>
            <div class="tasks"></div>
        </div>
    </div>

</div>

{{>cardtemplate-work }}