<div class="container" data-game-id="{{work.gameId}}" data-work-column-id="{{work.work.columnId}}">
    <div class="row">
        <progress value="" id="progressbar"></progress>
    </div>

    <div class="row">
        <div id="workspace" class="col-4">
            <button id="create-task" class="btn btn-primary" disabled="disabled">Create Task</button>
        </div>

        <div id="outbox" class="wait-column col-6" data-column-id="{{work.work.columnId}}">
            <h2>{{work.work.title}}</h2>
            <div class="tasks"></div>
        </div>
    </div>

</div>

{{>cardtemplate-work }}
