<input id="gameId" type="hidden" value="{{work.gameId}}"/>

<div class="work-container" data-game-id="{{work.gameId}}">
    <h1>Work</h1>

    <div>
        <progress value="" id="progressbar"></progress>
    </div>

    <div id="board">
        {{>column column=work.inbox}}
        {{>column column=work.work}}
        {{>column column=work.outbox}}
    </div>


</div>

<script src="/dot-game-work.js"></script>
