<div class="work-container" data-game-id="{{work.gameId}}">
    <h1>{{work.work.title}}</h1>

    <div>
        <progress value="" id="progressbar"></progress>
    </div>

    <div id="board">
        {{>column column=work.inbox}}
        {{>column column=work.work}}
    </div>

</div>

